<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1200, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <title>Yet Another Interesting Blog | Welcome</title>
</head>

<body>
<div class="welcome">
    <div class="welcome__container">
        <div class="central central--anim">
            <h1 class="main-title base-title">Yet Another Interesting Blog</h1>
            <div class="central__desc">Хороший блог для хороших людей :)</div>
            <a href="/login/registerForm" class="btn-register btn btn--regular btn--red">Зарегистрироваться</a>
            <a href="/login/authForm" class="btn btn--regular btn--red">Войти</a>
        </div>
    </div>
</div>
</body>