<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Yet Another Interesting Blog | Welcome</title>
</head>

<body>
<div class="wrapper">
    <section class="top-line">
        <div class="container top-line__container">
            <header class="header">
                <div class="header__col--align--right text-grey">
                    Вы вошли как <b>{{user.name}}</b>&nbsp;&nbsp;::&nbsp;&nbsp;<a href="/logout">Выйти</a>
                </div>
            </header>
            <div class="top-line__title">
                <h1 class="main-title">Yet Another Interesting Blog</h1>
            </div>
        </div>
    </section>

    <main class="main-content">
        <div class="container">
            <ul class="posts">
                {% for post in posts %}
                <li class="posts__item">
                    {% if post.getImage %}
                    <div class="posts__picture-wrap">
                        <img class="post__img" src="/images/{{post.getImage}}">
                    </div>
                    {% endif %}
                    <div class="posts__content">
                        <h2 class="posts__title">{{post.title}}</h2>
                        <div class="posts__author-date-container">
                            {% set author = post.getAuthor %}
                            {% if author %}
                            <div class="posts__author">{{author.getName}}</div>
                            {% else %}
                            <div class="posts__author">Автор был удален за ненадобностью</div>
                            {% endif %}
                            <div class="posts__date">{{post.createdAt}}</div>
                        </div>

                        <div class="posts__text">
                            <p>{{post.text}}</p>
                        </div>
                        {% if user.isAdmin == true %}
                        <a href="/admin/deletePost/?id={{post.id}}" class="btn btn--regular btn--white">Удалить пост</a>
                        {% endif %}
                    </div>
                </li>
                {% else %}
                    Постов пока нет
                {% endfor %}
            </ul>
        </div>
        <section class="inner-section">
            <div class="container">
                <h2 class="inner-section__title">Добавить пост</h2>
                <form class="form" enctype="multipart/form-data" action="/blog/createPost" method="post">
                    <div class="form__row">
                        <input type="text" name="title" placeholder="Заголовок поста" class="form__input">
                    </div>
                    <div class="form__row">
                        <textarea type="text" class="form__input form__input--textarea" name="text" placeholder="Очень интересный текст ;)"></textarea>
                    </div>
                    <div class="form__btns">
                        <div class="file-upload">
                            <input type="file" name="image" id="file" class="input-file">
                            <label for="file" class="btn btn-tertiary labelFile">
                                <span class="fileName">Загрузить файл</span>
                            </label>
                        </div>
                        <button type="reset" class="form__btn btn btn--regular btn--gray">Очистить</button>
                        <button type="submit" class="form__btn btn btn--regular btn--red">Отправить</button>
                    </div>
                </form>
            </div>
        </section>
    </main>
</body>
</html>
